<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <RuntimeFrameworkVersion>8.0.0</RuntimeFrameworkVersion>
    <RollForward>LatestPatch</RollForward>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>
  </PropertyGroup>
</Project>
